body {
  height: 100vh;
}
input {
    font-size: small;
}

header {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
  padding-bottom: 0%;
}

.container {
  padding-top: 7rem;
  padding-bottom: 9rem;
}

footer {
  position: fixed;
  width: 100%;
  height: 5rem;
  background-color: white;
  z-index: 1;
  bottom: 0;
  padding-top: 0%;
  font-size: small;
}

hr {
  padding: 0%;
  margin: 0%;
}

.assinatura {
  display: none;
}

.columns {
  margin-left: 10px;
}
.watermark {
  position:fixed;
  opacity: 5%;
  margin-top: 200px;
  z-index: 2;
  display: none;
}
/* .formulario {
  display: none;
} */
.valegas {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

@media screen and (min-width: 800px) {
  .valegas {
    display: none;
  }
  #titulo {
      padding-top: 20px;
      padding-bottom: 50px;
  }
  .container {
      padding-left: 10rem;
      padding-right: 10rem;
  }
}
@media screen and (max-width: 799px) {
  .valegas {
    display: none;
  }
  #titulo {
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: medium;
  }
  .container {
      padding-top: 4rem;
      padding-left: 1rem;
      padding-right: 1rem;
  }
}

@media print {
  .formulario {
    display: none;
  }
  footer {
    display: none;
  }
  header {
    display:none;
  }
  body {
    background: rgb(11,3,143);
    background: linear-gradient(0deg, rgba(11,3,143,1) 0%, rgba(31,31,246,1) 35%, rgba(2,186,223,1) 100%);
  }
  .container {
    padding-top: 3rem;
    padding-bottom: 0%;
    transform: scale(0.9);
  }
  #imprimirButton {
    display: none;
  }
  .assinatura {
    display: block;
  }
  .watermark {
    display: block;
  }
}